@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #010235;
  animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #F50901;
  animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
	border-radius: 0%;
	content:"";
	position: absolute;
	top: 0; left: 0;
	width: inherit; height: inherit;
  border-radius: 999px;
	box-shadow: inset 30px 0 0 #01023566,
				inset 0 30px 0 #10A33066,
				inset -30px 0 0 #0D904F66,	
				inset 0 -30px 0 #F5090166;
  animation: shadowsdancing 4s infinite;
}
.error-container > span:nth-of-type(2):before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 #01023566,
				inset 0 30px 0 #10A33066,
				inset -30px 0 0 #0D904F66,	
				inset 0 -30px 0 #F5090166;
  }
  25% {
    box-shadow: inset 30px 0 0 #F5090166,
				inset 0 30px 0 #01023566,
				inset -30px 0 0 #10A33066,	
				inset 0 -30px 0 #0D904F66;
  }
  50% {
     box-shadow: inset 30px 0 0 #0D904F66,
				inset 0 30px 0 #F5090166,
				inset -30px 0 0 #01023566,	
				inset 0 -30px 0 #10A33066;
  }
  75% {
   box-shadow: inset 30px 0 0 #10A33066,
				inset 0 30px 0 #0D904F66,
				inset -30px 0 0 #F5090166,	
				inset 0 -30px 0 #01023566;
  }
  100% {
    box-shadow: inset 30px 0 0 #01023566,
				inset 0 30px 0 #10A33066,
				inset -30px 0 0 #0D904F66,	
				inset 0 -30px 0 #F5090166;
  }
}
@keyframes colordancing {
  0% {
    color: #010235;
  }
  25% {
    color: #F50901;
  }
  50% {
    color: #0D904F;
  }
  75% {
    color: #10A330;
  }
  100% {
    color: #010235;
  }
}
@keyframes colordancing2 {
  0% {
    color: #0D904F;
  }
  25% {
    color: #10A330;
  }
  50% {
    color: #010235;
  }
  75% {
    color: #F50901;
  }
  100% {
    color: #0D904F;
  }
}
