body {
  font-family: 'Open Sans', sans-serif;
  /* text-align: center; */
  background-color: #f9f9f9;
  color: #121212;
}

.App {
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  /* height: 80px; */
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotateY(360deg); }
}
